



.lang {
	flex-basis: 25%;
}

.lang h6 {
	color: #384082;
	margin: 0 0 10px;
}

.lang p {
	margin: 0 0 25px;
}

.lang span {
	font-size: 1.25em;
	font-weight: bold;
}

.icon {
	position: relative;
	z-index: 0;
	height: 75px;
	width: 75px;
	margin: 0 auto 10px;
}

.icon div {
	height: 100%;
	width: 100%;
}

#python {
	background: url( '../../../../../public/img/python.svg' ) no-repeat 50%;
	background-size: cover;
}

#javascript {
	background: url( '../../../../../public/img/javascript.svg' ) no-repeat 50%;
	background-size: cover;
}

#csharp {
	background: url( '../../../../../public/img/csharp.svg' ) no-repeat 50%;
	background-size: cover;
}

.lang ul li {
	display: block !important;
	font-size: 1em !important;
	margin: 0 0 2.5px !important;
}


