



#skills {
	background: #6c9af9;
}

#skills hr {
	background: #5a85ef;
}

#skills h4 {
	margin: 0 0 30px;
}

.three {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 40px;
}

#skills h5 {
	margin: 0 0 15px;
}

#skills ul {
	padding: 0;
	margin: 10px 0 0;
}

#skills ul li {
	color: #2a58c3;
}

#skills ul li {
	display: inline-block;
	font-size: 1.125em;
	margin: 0 1.25em;
}



@media (max-width: 425px) {
	#skills ul {
		margin: 10px 0 25px;
	}
	#skills ul li {
		margin: 0 4%;
	}
}



