



@import url( 'https://fonts.googleapis.com/css?family=Exo+2' );



body {
	background: black;
	font-family: 'Exo 2', 'Lucida Grande', sans-serif;
	margin: 0;
}

main {
	background: white;
}

section {
	min-height: 500px;
	text-align: center;
	box-sizing: border-box;
	padding: 75px 0;
}

h1 {
	font-size: 6em;
	margin: 0;
}

h2 {
	font-size: 3em;
	font-weight: normal;
	margin: 10px 0 0;
}

h3 {
	font-size: 2.5em;
	margin: 0;
}

ul {
	margin: 0;
}

noscript {
	display: block;
	background: white;
	font-size: 2.5em;
	text-align: center;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 25vh 0 0;
}



