



#about {
	background: inherit;
}

#about hr {
	background: #f0f0f0;
	margin: 10px auto 30px;
}

#about h5 {
	margin: 0 0 20px;
}

#about p {
	font-size: 1.25em;
	text-align: left;
	line-height: 30px;
	text-indent: 3em;
	margin: 0 10% 1em;
}

#about a {
	color: #5b82fb;
}



