



header {
	position: relative;
	background: black;
	color: white;
	text-align: center;
	box-sizing: border-box;
	height: 700px;
}

header::after {
	position: fixed;
	z-index: 0;
	content: "";
	background: url( '../../../../public/img/space.jpg' ) no-repeat center bottom 5em;
	background-size: cover;
	top: 0;
	right: 0;
	left: 0;
	height: 900px;
	min-height: 100%;
	width: 100vw;
}

header > * {
	position: relative;
	z-index: 1;
	top: 30%;
}

header ul {
	padding: 0;
	margin: 100px 0 0;
}

header ul li {
	display: inline-block;
	color: #fd4e74;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 6%;
	text-shadow: 0 0 2.5px;
}


