



header {
	position: relative;
	background: black;
	color: white;
	text-align: center;
	box-sizing: border-box;
	height: 700px;
}

header::after {
	position: fixed;
	z-index: 0;
	content: "";
	background: url('../../../../public/img/space.jpg') no-repeat center bottom 5em;
	background-size: cover;
	top: 0;
	right: 0;
	left: 0;
	height: 900px;
	min-height: 100%;
	width: 100vw;
}

header > * {
	position: relative;
	z-index: 1;
	top: 30%;
}

header ul {
	padding: 0;
	margin: 100px 0 0;
}

header ul li {
	display: inline-block;
	color: #fd4e74;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 2.5em;
	text-shadow: 0 0 2.5px;
}



@media (max-width: 768px) {
	header {
		height: 500px;
	}
	header::after {
		background-position: right 55% bottom 10em;
		height: 750px;
	}
	header > * {
		transform: scale(0.9);
	}
	header ul {
		margin: 75px -5% 0;
	}
	header ul li {
		font-size: 1.75em;
		margin: 0 8%;
	}
}

@media (max-width: 425px) {
	header {
		height: 425px;
	}
	header::after {
		background-position: right 55% bottom 10em;
		height: 675px;
	}
	header > * {
		top: 32.5%;
		transform: scale(0.8);
	}
	header ul {
		margin: 50px -12.5% 0;
	}
	header ul li {
		font-size: 1.5em;
	}
}

@media (max-width: 375px) {
	header > * {
		transform: scale(0.75);
	}
}

@media (max-width: 280px) {
	header > * {
		top: 27.5%;
	}
	header ul {
		margin: 40px -15% 0;
	}
}



